# Flutter/Dart related files
.dart_tool/
.packages
build/
pubspec.lock

# Directory created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated Javascript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies

# IDE specific files
.idea/
.vscode/

# MacOS system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db
